

<div class="week" summary="Users for week">
  <div class="date">
        <%= event.date.day.to_s + " " + event.date.strftime("%B") %>
  </div>
  <ul>
    <% event.users.each do |user| %>
    <li >
        <% if user == current_user %>
          <a class="user_name" href=<%="welcome/remove_from_month?event_id="+event.id.to_s%>>
            <%= user.first_name %>
          </a>
        <%elsif user.role == "leader"%>
          <span class="leader_cell">
            <%= user.first_name + " (Lead)" %>
          </span>
        <% else %>
          <span class="user_name">
            <%= user.first_name %>
          </span>
        <%end %>

    <% end %>

    <% if !event.users.include?(current_user) %>
    <li>
          <%= link_to "+" + " " + current_user.first_name, {:controller => "welcome", :action => "sign_up_month", :event_id => event.id.to_s}, data: { disable_with:"<i class='fa fa-spinner fa-spin'></i> Adding"}, class: "signUpRowButton" %>

    </li>
    <% end %>
  </ul>
</div>
  