<table class="week_table" summary="Users for week">
  <thead >
  <tr align="center" class="TableHeader">
    <th align="center" class="week_table_heading">
        <%= event.date.day.to_s + " " + event.date.strftime("%B") %>
    </th>
  </tr>
  </thead>
<!--  <tr>
    <td>
      <%= event.remaining_spaces? %>
    </td>
</tr>-->

<% event.users.each do |user| %>
  <tr >
      <td class="week_table_row">
      <% if user == current_user %>
        <a class="RemoveButton"href=<%="welcome/remove_from_month?event_id="+event.id.to_s%>>remove </a>
        <div class="border_wrapper">
          <span class="UserName">
          <%= user.first_name %>
          </span>
        </div>
      <%else%>
      <span class="UserName">
        <%= user.first_name %>
      </span>
      <%end%>
       
    </td>
  </tr>
<% end %>
  <tr align="center">
    <td align="center">
<% if !event.users.include?(current_user) %>
      <a href=<%="welcome/sign_up_month?event_id="+event.id.to_s%>>Sign Up</a>

<% end %>
    </td>
  </tr>
</table>
