<div class="events clearfix">
	<div class="prevMonthButton sideButton">
		<a href="/?month=<%=@prevMonth%>">
		<%= @prevMonth %>

			<%= image_tag('Back.svg', class: "BrunchLogo desktop", height: "40", width: "40" ) %>

		</a>
		</div>

	<div class="eventWrapper">
		<% @events.each do |event| %>

			<%= render(:partial => "week_table", :locals => { :event => event}) %>

		<% end %>
	</div>

	<div class="nextMonthButton sideButton">
		<a href="/?month=<%=@nextMonth%>">
			<%= @nextMonth %>
			<%= image_tag('forward.svg', class: "BrunchLogo desktop", height: "40", width: "40" ) %>

		</a>

	</div>
</div>
