<div class="events clearfix">
	<div class="prevMonthButton sideButton">
		<a href=<%="/?month=#{@prevMonth}&year=#{@prevMonthYear}"%>>
			<%= image_tag('up_arrow.svg', class: "BrunchLogo mobile_month_toggle_up", height: "14", width: "20" ) %>
			<%= @prevMonth %>
			<%= image_tag('Back.svg', class: "BrunchLogo desktop", height: "40", width: "40" ) %>

		</a>
		</div>

	<div class="eventWrapper">
		<% @events.each do |event| %>

			<%= render(:partial => "week_table", :locals => { :event => event}) %>

		<% end %>
	</div>

	<div class="nextMonthButton sideButton">
		<a href=<%="/?month=#{@nextMonth}&year=#{@nextMonthYear}"%>>

			<%= @nextMonth %>
			<%= image_tag('down_arrow.svg', class: "BrunchLogo mobile_month_toggle_down", height: "14", width: "20" ) %>
			<%= image_tag('forward.svg', class: "BrunchLogo desktop", height: "40", width: "40" ) %>

		</a>

	</div>
</div>
