
<div class="prevMonthButton">
	<p>
		<%= @prevMonth %>
			<%= image_tag('Back.svg', class: "BrunchLogo", height: "40", width: "40" ) %>

	</p>
</div>
<div class="events clearfix">

	<% @events.each do |event| %>

        <%= render(:partial => "week_table", :locals => { :event => event}) %>

  <% end %>

</div>
<div class="nextMonthButton">
	<p>
		<%= @nextMonth %>
		<%= image_tag('forward.svg', class: "BrunchLogo", height: "40", width: "40" ) %>

	</p>

</div>
