<!DOCTYPE html>
<html>

<head>
  <title>BrunchDashboard</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">

</head>

<body>

  <header class="NavBar">
    <div class="WelcomeText">
      <% if user_signed_in?  %>
        <span class="desktop">Welcome, <%= current_user.first_name %></span>
        <%= link_to('Logout', destroy_user_session_path, :method => :delete, :class => "LogoutButton") %>
      <% end %>
    </div>
    <%= image_tag('logo.png', class: "BrunchLogo", height: "80", width: "105") %>
      </header>
  <%= yield %>

</body>
</html>
